DrawASCIShapes/Service References/ASCIShapeServiceReference1/ASCIShapeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DrawASCIShapes" elementFormDefault="qualified" targetNamespace="DrawASCIShapes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9160/ASCIShapeService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ADCIShapeService" />
  <xs:import schemaLocation="http://localhost:9160/ASCIShapeService1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ADCIShapeService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ADCIShapeService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSquare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="TxtToDisplay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxtRowNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSquareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerateSquareResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRectangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="TxtToDisplay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxtRowNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRectangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerateRectangleResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTriangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="TxtToDisplay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxtRowNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTriangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerateTriangleResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDiamond1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="TxtToDisplay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxtRowNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDiamond1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerateDiamond1Result" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDiamond2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="TxtToDisplay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxtRowNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDiamond2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerateDiamond2Result" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHistoryToFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Shape" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="TxtToDisplay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxtRowNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHistoryToFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>