DrawASCIShapes/Service References/ASCIShapeServiceReference1/ASCIShapeService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="DrawASCIShapes" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="DrawASCIShapes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="DrawASCIShapes/Imports">
      <xsd:import schemaLocation="http://localhost:9160/ASCIShapeService1.svc?xsd=xsd0" namespace="DrawASCIShapes" />
      <xsd:import schemaLocation="http://localhost:9160/ASCIShapeService1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9160/ASCIShapeService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ADCIShapeService" />
      <xsd:import schemaLocation="http://localhost:9160/ASCIShapeService1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IASCIService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateSquare_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSquare" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateSquare_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSquareResponse" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateRectangle_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRectangle" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateRectangle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRectangleResponse" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateTriangle_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTriangle" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateTriangle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTriangleResponse" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateDiamond1_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDiamond1" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateDiamond1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDiamond1Response" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateDiamond2_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDiamond2" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_GenerateDiamond2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDiamond2Response" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_SaveHistoryToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistoryToFile" />
  </wsdl:message>
  <wsdl:message name="IASCIService1_SaveHistoryToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistoryToFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IASCIService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GetData" message="tns:IASCIService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GetDataResponse" message="tns:IASCIService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GetDataUsingDataContract" message="tns:IASCIService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GetDataUsingDataContractResponse" message="tns:IASCIService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSquare">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GenerateSquare" message="tns:IASCIService1_GenerateSquare_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GenerateSquareResponse" message="tns:IASCIService1_GenerateSquare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRectangle">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GenerateRectangle" message="tns:IASCIService1_GenerateRectangle_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GenerateRectangleResponse" message="tns:IASCIService1_GenerateRectangle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateTriangle">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GenerateTriangle" message="tns:IASCIService1_GenerateTriangle_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GenerateTriangleResponse" message="tns:IASCIService1_GenerateTriangle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDiamond1">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GenerateDiamond1" message="tns:IASCIService1_GenerateDiamond1_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GenerateDiamond1Response" message="tns:IASCIService1_GenerateDiamond1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDiamond2">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/GenerateDiamond2" message="tns:IASCIService1_GenerateDiamond2_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/GenerateDiamond2Response" message="tns:IASCIService1_GenerateDiamond2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHistoryToFile">
      <wsdl:input wsaw:Action="DrawASCIShapes/IASCIService1/SaveHistoryToFile" message="tns:IASCIService1_SaveHistoryToFile_InputMessage" />
      <wsdl:output wsaw:Action="DrawASCIShapes/IASCIService1/SaveHistoryToFileResponse" message="tns:IASCIService1_SaveHistoryToFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>